USE [GRWINI]
GO
/****** Object:  Table [dbo].[finding]    Script Date: 09/30/2026 20:16:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[finding](
	[finding_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[finding_date] [datetime] NOT NULL,
	[patrol_id] [int] NOT NULL,
	[pic_id] [int] NULL,
	[priority_id] [int] NOT NULL,
	[risk_level_id] [int] NULL,
	[finding_type_id] [int] NULL,
	[assigned_date] [datetime] NOT NULL,
	[due_date] [datetime] NULL,
	[finish_date] [datetime] NULL,
	[recheck_date] [datetime] NULL,
	[category_id] [int] NULL,
	[status_id] [int] NOT NULL,
	[countermeasure_suggestion] [varchar](100) NULL,
	[countermeasure] [varchar](100) NULL,
	[area] [varchar](50) NULL,
	[finding] [varchar](100) NULL,
 CONSTRAINT [PK_finding] PRIMARY KEY CLUSTERED 
(
	[finding_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
