USE [GRWINI]
GO
/****** Object:  Table [dbo].[locations]    Script Date: 09/30/2026 18:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[locations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[locations] ON
INSERT [dbo].[locations] ([id], [name]) VALUES (1, N'Line Assembling A')
INSERT [dbo].[locations] ([id], [name]) VALUES (2, N'Machining Center B')
INSERT [dbo].[locations] ([id], [name]) VALUES (3, N'Warehouse RM')
SET IDENTITY_INSERT [dbo].[locations] OFF
/****** Object:  Table [dbo].[findings]    Script Date: 09/30/2026 18:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[findings](
	[finding_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[finding_date] [datetime] NOT NULL,
	[finding] [varchar](255) NOT NULL,
	[patrol_id] [int] NOT NULL,
	[area] [varchar](255) NOT NULL,
	[pic_id] [int] NULL,
	[priority_id] [int] NULL,
	[risk_level_id] [int] NULL,
	[finding_type_id] [int] NULL,
	[countermeasure_suggestion] [varchar](255) NULL,
	[countermeasure] [varchar](255) NULL,
	[delay_reason] [varchar](225) NULL,
	[assigned_date] [datetime] NULL,
	[due_date] [datetime] NOT NULL,
	[finish_date] [datetime] NULL,
	[recheck_date] [datetime] NULL,
	[category_id] [int] NULL,
	[status_id] [int] NOT NULL,
 CONSTRAINT [PK_findings] PRIMARY KEY CLUSTERED 
(
	[finding_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[finding_type]    Script Date: 09/30/2026 18:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[finding_type](
	[finding_type_id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [varchar](50) NOT NULL,
	[type_description] [varchar](100) NOT NULL,
 CONSTRAINT [PK_finding_type] PRIMARY KEY CLUSTERED 
(
	[finding_type_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[finding_type] ON
INSERT [dbo].[finding_type] ([finding_type_id], [type_name], [type_description]) VALUES (1, N'Initial', N'Insial')
INSERT [dbo].[finding_type] ([finding_type_id], [type_name], [type_description]) VALUES (2, N'Recurrence', N'rikuren')
INSERT [dbo].[finding_type] ([finding_type_id], [type_name], [type_description]) VALUES (3, N'Similar', N'similar')
SET IDENTITY_INSERT [dbo].[finding_type] OFF
/****** Object:  Table [dbo].[mfa_audits]    Script Date: 09/30/2026 18:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mfa_audits](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[audit_year] [int] NOT NULL,
	[assessor_name] [varchar](200) NOT NULL,
	[target_pass] [int] NULL,
	[actual_pass_self] [int] NULL,
	[actual_pass_mmeu] [int] NULL,
	[grand_score_self] [int] NULL,
	[grand_score_mmeu] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[mfa_audits] ON
INSERT [dbo].[mfa_audits] ([id], [audit_year], [assessor_name], [target_pass], [actual_pass_self], [actual_pass_mmeu], [grand_score_self], [grand_score_mmeu], [created_at]) VALUES (1, 2024, N'MMEU', 50, 41, 32, 84, 65, CAST(0x0000B4BA00EE0479 AS DateTime))
INSERT [dbo].[mfa_audits] ([id], [audit_year], [assessor_name], [target_pass], [actual_pass_self], [actual_pass_mmeu], [grand_score_self], [grand_score_mmeu], [created_at]) VALUES (2, 2025, N'SECJ Mr.Higuchi, Ms.Erni, SEI Mr.Akao', 50, 41, 36, 82, 72, CAST(0x0000B4BA00EE0479 AS DateTime))
INSERT [dbo].[mfa_audits] ([id], [audit_year], [assessor_name], [target_pass], [actual_pass_self], [actual_pass_mmeu], [grand_score_self], [grand_score_mmeu], [created_at]) VALUES (3, 2022, N'1st MMEU', 50, 35, 35, 71, 71, CAST(0x0000B4BA00FB5DC1 AS DateTime))
SET IDENTITY_INSERT [dbo].[mfa_audits] OFF
/****** Object:  Table [dbo].[users_gembira]    Script Date: 09/30/2026 18:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users_gembira](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[sections]    Script Date: 09/30/2026 18:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sections](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[sections] ON
INSERT [dbo].[sections] ([id], [name]) VALUES (1, N'Production')
INSERT [dbo].[sections] ([id], [name]) VALUES (2, N'QA')
INSERT [dbo].[sections] ([id], [name]) VALUES (3, N'Maintenance')
SET IDENTITY_INSERT [dbo].[sections] OFF
/****** Object:  Table [dbo].[patrol_findings]    Script Date: 09/30/2026 18:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[patrol_findings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[location_id] [varchar](255) NULL,
	[finding_type] [varchar](50) NULL,
	[pic_section_id] [int] NULL,
	[patrol_pic] [varchar](100) NULL,
	[problem_description] [text] NULL,
	[countermeasure] [text] NULL,
	[status] [varchar](20) NULL,
	[due_date] [date] NULL,
	[created_at] [date] NULL,
	[finish_date] [date] NULL,
	[recheck_date] [date] NULL,
	[evidence_photo] [varchar](255) NULL,
	[picture_after_improved] [varchar](255) NULL,
	[is_kaizen] [varchar](10) NULL,
	[photo] [varchar](255) NULL,
	[is_skt_team] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[patrol_findings] ON
INSERT [dbo].[patrol_findings] ([id], [category_id], [location_id], [finding_type], [pic_section_id], [patrol_pic], [problem_description], [countermeasure], [status], [due_date], [created_at], [finish_date], [recheck_date], [evidence_photo], [picture_after_improved], [is_kaizen], [photo], [is_skt_team]) VALUES (1, 2, N'10', N'5S & 2S3T', 27, N'PD Patrol Team', N'Choioki', NULL, N'Closed', CAST(0x144A0B00 AS Date), CAST(0x134A0B00 AS Date), CAST(0x164A0B00 AS Date), NULL, NULL, NULL, N'Pending', NULL, NULL)
INSERT [dbo].[patrol_findings] ([id], [category_id], [location_id], [finding_type], [pic_section_id], [patrol_pic], [problem_description], [countermeasure], [status], [due_date], [created_at], [finish_date], [recheck_date], [evidence_photo], [picture_after_improved], [is_kaizen], [photo], [is_skt_team]) VALUES (2, 2, N'31', N'5S & 2S3T', 31, N'PD Patrol Team', N'Choioki tool & glove on the drum at utility room', NULL, N'Closed', CAST(0x144A0B00 AS Date), CAST(0x134A0B00 AS Date), CAST(0x164A0B00 AS Date), NULL, NULL, NULL, N'Pending', NULL, NULL)
INSERT [dbo].[patrol_findings] ([id], [category_id], [location_id], [finding_type], [pic_section_id], [patrol_pic], [problem_description], [countermeasure], [status], [due_date], [created_at], [finish_date], [recheck_date], [evidence_photo], [picture_after_improved], [is_kaizen], [photo], [is_skt_team]) VALUES (3, 2, N'51', N'5S & 2S3T', 17, N'PD Patrol Team', N'Choioki tool on the drum', NULL, N'Closed', CAST(0x144A0B00 AS Date), CAST(0x134A0B00 AS Date), CAST(0x164A0B00 AS Date), NULL, NULL, NULL, N'Pending', NULL, NULL)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[patrol_findings] OFF
/****** Object:  Table [dbo].[patrol_categories]    Script Date: 09/30/2026 18:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[patrol_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[sla_days] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[patrol_categories] ON
INSERT [dbo].[patrol_categories] ([id], [name], [sla_days]) VALUES (1, N'123 Patrol', 3)
INSERT [dbo].[patrol_categories] ([id], [name], [sla_days]) VALUES (2, N'PD Patrol', 7)
INSERT [dbo].[patrol_categories] ([id], [name], [sla_days]) VALUES (3, N'Cross Patrol', 5)
SET IDENTITY_INSERT [dbo].[patrol_categories] OFF
/****** Object:  Table [dbo].[other_kaizens]    Script Date: 09/30/2026 18:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[other_kaizens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[source] [varchar](50) NULL,
	[title] [varchar](200) NULL,
	[condition_before] [text] NULL,
	[photo_before] [varchar](255) NULL,
	[condition_after] [text] NULL,
	[photo_after] [varchar](255) NULL,
	[pic_section_id] [int] NULL,
	[status] [varchar](20) NULL,
	[created_at] [date] NULL,
	[closed_at] [date] NULL,
	[is_skt_team] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[other_kaizens] ON
INSERT [dbo].[other_kaizens] ([id], [source], [title], [condition_before], [photo_before], [condition_after], [photo_after], [pic_section_id], [status], [created_at], [closed_at], [is_skt_team]) VALUES (1, N'SGA', N'Penanggulangan Area Line Assembling A', N'Masalah kronis terdeteksi berulang oleh AI:
"Lantai kotor karena tetesan oli bocor"', NULL, NULL, NULL, 1, N'Open', CAST(0x144A0B00 AS Date), NULL, NULL)
INSERT [dbo].[other_kaizens] ([id], [source], [title], [condition_before], [photo_before], [condition_after], [photo_after], [pic_section_id], [status], [created_at], [closed_at], [is_skt_team]) VALUES (2, N'Section Kaizen', N'no control or monitor regarding to problem and progress for internal proposal to/from customer', N'no control or monitor regarding to problem and progress for internal proposal to/from customer', NULL, N'Make reporting with relate departement once a month', NULL, 9, N'Closed', CAST(0x134A0B00 AS Date), CAST(0x134A0B00 AS Date), NULL)
INSERT [dbo].[other_kaizens] ([id], [source], [title], [condition_before], [photo_before], [condition_after], [photo_after], [pic_section_id], [status], [created_at], [closed_at], [is_skt_team]) VALUES (3, N'Section Kaizen', N'no grouping email, many email mix with other parties', N'no grouping email, many email mix with other parties', NULL, N'make grouping, first based on customer', NULL, 9, N'Closed', CAST(0x134A0B00 AS Date), CAST(0x134A0B00 AS Date), NULL)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[other_kaizens] OFF
/****** Object:  Table [dbo].[mfa_pillar_scores]    Script Date: 09/30/2026 18:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mfa_pillar_scores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[audit_id] [int] NULL,
	[pillar_name] [varchar](50) NOT NULL,
	[score_self] [int] NULL,
	[score_external] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[mfa_pillar_scores] ON
INSERT [dbo].[mfa_pillar_scores] ([id], [audit_id], [pillar_name], [score_self], [score_external]) VALUES (11, 1, N'Safety & Env', 85, 69)
INSERT [dbo].[mfa_pillar_scores] ([id], [audit_id], [pillar_name], [score_self], [score_external]) VALUES (12, 1, N'Quality', 80, 58)
INSERT [dbo].[mfa_pillar_scores] ([id], [audit_id], [pillar_name], [score_self], [score_external]) VALUES (13, 1, N'Equipment', 70, 43)
SET IDENTITY_INSERT [dbo].[mfa_pillar_scores] OFF
/****** Object:  Table [dbo].[mfa_heatmap_details]    Script Date: 09/30/2026 18:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mfa_heatmap_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[audit_id] [int] NULL,
	[pillar_name] [varchar](50) NOT NULL,
	[item_no] [int] NOT NULL,
	[item_desc] [varchar](255) NULL,
	[level_mandiri] [int] NULL,
	[level_mmeu] [int] NULL,
	[comment_indo] [nvarchar](max) NULL,
	[comment_jepang] [nvarchar](max) NULL,
	[category_4m] [varchar](50) NULL,
	[confidence_4m] [float] NULL,
	[level_pre_audit] [int] NULL,
	[comment_pre_audit] [varchar](max) NULL,
	[action_countermeasure] [varchar](max) NULL,
	[action_pic] [varchar](100) NULL,
	[action_due_date] [date] NULL,
	[action_status] [varchar](50) NULL,
	[action_photo] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[mfa_heatmap_details] ON
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[mfa_heatmap_details] OFF
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[mfa_action_plans]    Script Date: 09/30/2026 18:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mfa_action_plans](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[audit_id] [int] NULL,
	[item_no] [int] NOT NULL,
	[pillar_name] [varchar](50) NOT NULL,
	[item_name] [varchar](200) NOT NULL,
	[status] [varchar](20) NULL,
	[local_countermeasure] [nvarchar](max) NULL,
	[due_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[mfa_action_plans] ON
SET IDENTITY_INSERT [dbo].[mfa_action_plans] OFF
/****** Object:  Default [DF__mfa_actio__statu__251C81ED]    Script Date: 09/30/2026 18:57:32 ******/
ALTER TABLE [dbo].[mfa_action_plans] ADD  DEFAULT ('Open') FOR [status]
GO
/****** Object:  Default [DF__mfa_audit__targe__0F2D40CE]    Script Date: 09/30/2026 18:57:32 ******/
ALTER TABLE [dbo].[mfa_audits] ADD  DEFAULT ((50)) FOR [target_pass]
GO
/****** Object:  Default [DF__mfa_audit__actua__10216507]    Script Date: 09/30/2026 18:57:32 ******/
ALTER TABLE [dbo].[mfa_audits] ADD  DEFAULT ((0)) FOR [actual_pass_self]
GO
/****** Object:  Default [DF__mfa_audit__actua__11158940]    Script Date: 09/30/2026 18:57:32 ******/
ALTER TABLE [dbo].[mfa_audits] ADD  DEFAULT ((0)) FOR [actual_pass_mmeu]
GO
/****** Object:  Default [DF__mfa_audit__grand__1209AD79]    Script Date: 09/30/2026 18:57:32 ******/
ALTER TABLE [dbo].[mfa_audits] ADD  DEFAULT ((0)) FOR [grand_score_self]
GO
/****** Object:  Default [DF__mfa_audit__grand__12FDD1B2]    Script Date: 09/30/2026 18:57:32 ******/
ALTER TABLE [dbo].[mfa_audits] ADD  DEFAULT ((0)) FOR [grand_score_mmeu]
GO
/****** Object:  Default [DF__mfa_audit__creat__13F1F5EB]    Script Date: 09/30/2026 18:57:32 ******/
ALTER TABLE [dbo].[mfa_audits] ADD  DEFAULT (getdate()) FOR [created_at]
GO
/****** Object:  Default [DF__mfa_heatm__level__2610A626]    Script Date: 09/30/2026 18:57:32 ******/
ALTER TABLE [dbo].[mfa_heatmap_details] ADD  DEFAULT ((0)) FOR [level_pre_audit]
GO
/****** Object:  Default [DF__mfa_heatm__actio__2704CA5F]    Script Date: 09/30/2026 18:57:32 ******/
ALTER TABLE [dbo].[mfa_heatmap_details] ADD  DEFAULT ('OPEN') FOR [action_status]
GO
/****** Object:  Default [DF__mfa_pilla__score__19AACF41]    Script Date: 09/30/2026 18:57:32 ******/
ALTER TABLE [dbo].[mfa_pillar_scores] ADD  DEFAULT ((0)) FOR [score_self]
GO
/****** Object:  Default [DF__mfa_pilla__score__1A9EF37A]    Script Date: 09/30/2026 18:57:32 ******/
ALTER TABLE [dbo].[mfa_pillar_scores] ADD  DEFAULT ((0)) FOR [score_external]
GO
/****** Object:  Default [DF__other_kai__statu__6CD828CA]    Script Date: 09/30/2026 18:57:32 ******/
ALTER TABLE [dbo].[other_kaizens] ADD  DEFAULT ('Open') FOR [status]
GO
/****** Object:  Default [DF__other_kai__is_sk__28ED12D1]    Script Date: 09/30/2026 18:57:32 ******/
ALTER TABLE [dbo].[other_kaizens] ADD  DEFAULT ('No') FOR [is_skt_team]
GO
/****** Object:  Default [DF__patrol_ca__sla_d__5AB9788F]    Script Date: 09/30/2026 18:57:32 ******/
ALTER TABLE [dbo].[patrol_categories] ADD  DEFAULT ((3)) FOR [sla_days]
GO
/****** Object:  Default [DF__patrol_fi__statu__671F4F74]    Script Date: 09/30/2026 18:57:32 ******/
ALTER TABLE [dbo].[patrol_findings] ADD  DEFAULT ('Open') FOR [status]
GO
/****** Object:  Default [DF__patrol_fi__is_ka__681373AD]    Script Date: 09/30/2026 18:57:32 ******/
ALTER TABLE [dbo].[patrol_findings] ADD  DEFAULT ('Pending') FOR [is_kaizen]
GO
/****** Object:  Default [DF__patrol_fi__is_sk__27F8EE98]    Script Date: 09/30/2026 18:57:32 ******/
ALTER TABLE [dbo].[patrol_findings] ADD  DEFAULT ('No') FOR [is_skt_team]
GO
/****** Object:  ForeignKey [FK__mfa_actio__audit__24285DB4]    Script Date: 09/30/2026 18:57:32 ******/
ALTER TABLE [dbo].[mfa_action_plans]  WITH CHECK ADD FOREIGN KEY([audit_id])
REFERENCES [dbo].[mfa_audits] ([id])
ON DELETE CASCADE
GO
/****** Object:  ForeignKey [FK__mfa_heatm__audit__1F63A897]    Script Date: 09/30/2026 18:57:32 ******/
ALTER TABLE [dbo].[mfa_heatmap_details]  WITH CHECK ADD FOREIGN KEY([audit_id])
REFERENCES [dbo].[mfa_audits] ([id])
ON DELETE CASCADE
GO
/****** Object:  ForeignKey [FK__mfa_pilla__audit__18B6AB08]    Script Date: 09/30/2026 18:57:32 ******/
ALTER TABLE [dbo].[mfa_pillar_scores]  WITH CHECK ADD FOREIGN KEY([audit_id])
REFERENCES [dbo].[mfa_audits] ([id])
ON DELETE CASCADE
GO
